numpy==1.26.3
streamlit==1.29.0
streamlit-option-menu==0.3.6
pandas
matplotlib
pyngrok
linearmodels
seaborn
statsmodels
scipy
scikit-learn
geopandas
scikit-learn-extra
kmedoids
fastdtw
folium
plotly
streamlit_folium
